<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests"
	thread-count="2" configfailurepolicy="continue">
	<test name="DAQAA Automation Tests - Chrome" annotations="JDK"
		preserve-order="true">
		<parameter name="browserType" value="chrome" />
		<parameter name="OSName" value="Windows 10" />
		<parameter name="session" value="DAQAA Automation Tests" />
		<classes>
			<class name="com.google.runner.TestRunner" />
		</classes>
	</test>
	<test name="DAQAA Automation Tests - Firefox" annotations="JDK"
		preserve-order="true">
		<parameter name="browserType" value="firefox" />
		<parameter name="OSName" value="Windows 10" />
		<parameter name="session" value="DAQAA Automation Tests" />
		<classes>
			<class name="com.google.runner.TestRunner" />
		</classes>
	</test>
</suite>